.content-container {
    font-family: $font-primary;
    padding: 2rem;

    @media only screen and (min-width: $bp-small) {
        padding: 4rem 8rem;
    }

    .cards-container {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        text-transform: uppercase;
        color: $color-white;
        text-align: center;
        font-weight: $light-weight;
        padding-bottom: 4rem;

        .card {
            display: block;
            border-style: solid;
    
            &.card-1 {
                border-color: $color-card-1;
                background-color: $color-card-1;
            }
    
            &.card-2 {
                border-color: $color-card-2;
                background-color: $color-card-2;
            }
    
            &.card-3 {
                border-color: $color-card-3;
                background-color: $color-card-3;
            }
    
            &.card-4 {
                border-color: $color-card-4;
                background-color: $color-card-4;
            }
        
            .title {
                font-size: $small-font;
                padding: .8rem 2rem .2rem;
            }

            .separator {
                h2 {
                    font-size: $tiny-font;
                    font-weight: $light-weight;
                    line-height: 50%;
                } 
            }

            .price {
                padding: 0 0 .1rem;

                .amount {
                    font-size: $super-large-font;
                }

                .month {
                    vertical-align: 70%;
                }
            }   
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        color: $color-primary;
        text-align: center;

        @media only screen and (min-width: $bp-small) {
            text-align: left;
        }

        img {
            width: 100%;
        }
        
        @media only screen and (min-width: $bp-small) {
            flex-wrap: unset;
            justify-content: space-between;
                
            img {
                width: 70%;
            }
        }

        .text-content {
            h2 {
                font-size: $large-font;
                font-weight: $heavy-weight;
                text-transform: uppercase;
            }

            h3 {
                font-size: $large-font;
                font-weight: $light-weight;
                text-transform: uppercase;
            }

            li {
                font-family: $font-secondary;
                font-size: $small-font;
            }

            ul {
                list-style: none;
                text-align: left;
            }
            
            ul li::before {
                content: "\2022";
                color: $color-secondary;
                font-weight: bold;
                display: inline-block; 
                width: 1em;
                margin-left: -1em;
            }
        }

        .buttons {
            display: inline-flex;
            justify-content: center;
            font-size: $small-font;

            @media only screen and (min-width: $bp-small) {
                justify-content: flex-start;
            }

            :hover {
                text-decoration: underline;
                color: $color-secondary;
            }

            * {
                margin: 1.5rem 1.5rem 0 0;
            }
        }
    }
}
