.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
    @media only screen and (min-width: $bp-small) {
        position: relative;
        width: 100%;
        height: 42.5vh;
        text-align: unset;

        * {
            position: absolute;
        }
    }

    img, picture {
        width: 100%;
    }
    
    .hero-img {
        width: 100%;
        height: 23.7em;
    }

    .hero-text-banner {
        color: $color-white;
        left: 6%;
        top: 15%;
        width: 100%;

        @media only screen and (min-width: $bp-small) {
            * {
                width: 33rem;
                position: static;
                padding: .5rem;
            }
        }
    
        @media only screen and (max-width: $bp-small) {
            * {
                padding: 2rem;
            }
        }
        
        .text-1 {
            background-color: $color-secondary;
            font-weight: $heavy-weight;
            font-size: $medium-font;
        }

        .text-2 {
            background-color: $color-primary;
            text-transform: uppercase;
            font-weight: $heavy-weight;
            font-size: $large-font;
            padding-bottom: 0;
        }
    
        .text-3 {
            font-family: $font-secondary;
            background-color: $color-primary;
            font-size: $small-font;
            padding-top: 0;
        }
    }

    .hero-round-content {
        img {
            width: 50%;
        } 

        @media only screen and (min-width: $bp-small) {
            img {
                width: 20rem;
            } 

            right: 25%;
            top: 30%;
        }
    }
}
